@font-face {
    font-family: 'Acme', sans-serif;
    src: url(Acme-Regular.ttf);
    font-family: 'Tilt Neon', cursive;
    src: utl();
}


/*HEADER*/

.header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.logo{
    clip-path: ellipse(50% 50%);
    height: 400px;
}

h1{
    padding: 7rem;
    font-family: Acme, sans-serif;
    font-size: 3em;
    font-weight: 300;
}
/*BODY*/
body{
    font-family: , sans-serif;
}
.intro{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.brush{
    height:300px;
    width: 380px;
}

.item{
    display:flex;
    margin: 4rem 5rem;
    align-items: center;
    border: 5px double rgb(97, 88, 88);
    padding: 2rem;
}

.item2{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    border: 5px double rgb(97, 88, 88);
    margin: 4rem 5rem;
    padding: 2rem;
}


.item p, .item2 p {
    padding: 2rem;
}

.product{
    
}
   
/*FOOTER*/

footer{
    text-align: center;

}

footer img {
    padding: 2rem;
    
}



.social{
    display:flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    
}

.contact{
    display:flex;
    justify-content: center;
    align-items: center;
    }
